body {
  font-family: 'Roboto Condensed', sans-serif;
}

a:hover {
  color: darkblue;
}

label {
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
}

.card-title, h1, h3, h4, option {
  font-family: 'Bebas Neue', cursive;
}

.row {
  padding: 5px 5px 5px 5px;
}

.rating {
  display: none;
}

.card:hover, .img:hover {
  background-color: lightgray;
}

#footerAbout {
  background-color: #F8F9FA;
}

#imgHover:hover+.rating {
  display: block;
}

.card-img-top {
  width: 100%;
  height: 30rem;
}

.error {
  color: red;
  font-size: large;
}

.inner-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #F8F9FA;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 20rem));
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: space-between;
  align-content: space-between;
  -webkit-align-items: start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  /* padding: .5rem 0; */
  grid-gap: .5rem .25rem;
}

@media only screen and (max-width: 500px) {
  body {
    text-align: left;
  }

  label {
    font-size: 40px;
  }

  h4 {
    font-size: 30px;
  }

  h1 {
    text-align: center;
  }

  .form-select {
    font-size: 25px;
  }

  .card-title {
    font-size: 25px;
  }

  .card-text {
    font-size: 20px;
  }
}
